In [23]:
import pandas as pd
import nltk
from tqdm.notebook import tqdm
tqdm.pandas()

In [ ]:
nltk.download('words')
words = set(nltk.corpus.words.words())

In [2]:
df = pd.read_csv('Bitcoin_tweets.csv')

/Users/admin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.columns

Index(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'is_retweet'],
      dtype='object')

In [5]:
df.head(2)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,üòé BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"üòé Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False

In [8]:
df = df.drop(['user_name', 'user_location', 'user_description', 'user_created', 'user_friends', 'user_favourites', 'is_retweet'], axis = 1)

In [9]:
df

,user_followers,user_verified,date,text,hashtags,source
0,8534.0,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App
1,6769.0,False,2021-02-10 23:58:48,"üòé Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android
2,128.0,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App
3,625.0,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it
4,1249.0,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App
...,...,...,...,...,...,...
2284921,1139.0,False,2022-02-09 20:55:00,#HIRING?\nSign up now https://t.co/o7lVlsCHXv\...,"['HIRING', 'Jobs', 'jobsearching', 'DataAnalyt...",Twitter Web App
2284922,1686.0,False,2022-02-09 20:54:50,Stopped out gg\n\nFirst 1R loss this month \n\...,['BTC'],Twitter Web App
2284923,39.0,False,2022-02-09 20:54:50,"@TylerSCrypto Hey broow, how is your trading g...",['BTC'],Twitter for Android
2284924,19.0,False,2022-02-09 20:54:36,@list_energy @list_energy 's team is working h...,"['EnergyList', 'EList', 'Airdrop', 'cryptocurr...",Twitter for Android
2284925,67.0,False,2022-02-09 20:54:35,Many apps you download to the phone are scam t...,"['BTC', 'ETH', 'NFT', 'NFTs', 'BNB', 'TikTok',...",Twitter Web App

In [14]:
from textblob import TextBlob

In [24]:
df = df.dropna(subset=['text'])

In [25]:
df["sentiment"] = df["text"].progress_apply(lambda x : TextBlob(x).sentiment)

  0%|          | 0/2284924 [00:00<?, ?it/s]

<ipython-input-25-37b0dd2d4790>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sentiment"] = df["text"].progress_apply(lambda x : TextBlob(x).sentiment)

In [26]:
df["sentiment"]

0                                         (0.0, 0.1)
1                                         (0.0, 0.0)
2                                         (0.0, 0.0)
3                                         (0.0, 0.1)
4                                         (0.0, 0.1)
                             ...
2284921                                   (0.4, 0.8)
2284922                    (0.1, 0.3666666666666667)
2284923                                   (0.0, 0.0)
2284924    (0.12166666666666667, 0.3487179487179487)
2284925                               (0.78125, 0.5)
Name: sentiment, Length: 2284924, dtype: object

In [28]:
df.at[2284923, 'text']

'@TylerSCrypto Hey broow, how is your trading going, wanna double your kRipToCoInS? üòè #BTC'